.container-componentes {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {

  .container-componentes {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
  }
}
